* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 16pt;
  }
  
  h1 {
    font-size: 3em;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  h3 {
    font-size: 1.25em;
  } 
  
  body {
    background-color: #89d0e6;
  }
  
  .container{
    width: 1200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .main-block {
    display: flex;
    width: 100%;
  }
  
  .side-panel {
    width: 33%;
    color: #f2f2f2;
    background: linear-gradient(90deg, rgb(54, 74, 82) 0%, rgb(33, 39, 53) 100%);
  }
  
  .avatar {
    display: block;
    margin: 15% auto;
    width: 70%;
    border-radius: 25%;
  }
  
  .aside-section {
    margin-bottom: 15%;
  }
  
  .aside-header {
    margin-left: 15%;
    padding-bottom: 5%;
    border-bottom: 1px solid #f2f2f2;
  }
  
  .side-panel li {
    list-style-type: none;
    list-style-position: inside;
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: 15%;
  }
  
  .contact-icon {
    margin-right: 5%;
  }
  
  .hard-skills li {
    list-style-type: none;
  }
  
  .main-content {
    width: 67%;
    color: #464646;
    background-color: #fff;
  }
  
  header {
    margin-top: 15%;
    margin-left: 15%;
    margin-bottom: 15%;
  }
  
  .main-section {
    margin-right: 10%;
    margin-bottom: 5%;
    margin-left: 15%;
  }
  
  .main-header {
    padding-bottom: 3%;
    border-bottom: 1px solid;
    margin-bottom: 3%;
  }
  
  .icon {
    margin-right: 5%;
    font-size: 1.5em;
  }
  
  .main-block li {
    list-style-position: inside;
    margin-top: 3%;
  }
  
  .main-list li {
    list-style-type: none;
  }
  
  .code-example {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .footer {
    display: flex;
    padding-left: 4%;
    padding-right: 7%;
    padding-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgb(54, 74, 82) 0%, rgb(33, 39, 53) 100%);
    color: #fff;  
  }
  
  .rss-logo {
    display: block;
    width: 100px;
    height: 50px;
    background: url(../img/rs_school_js.svg) center no-repeat;
    background-size: contain;
  }
  
  .gh-logo {
    display: block;
    width: 100px;
    height: 50px;
    background: url(../img/gh.png) center no-repeat;
    background-size: contain;
  }
  
  .my-github-link:visited {
    color: #fff;  
  }